In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Dataset/No-Cleared-Data/student_performance_updated_1000.csv')
df

,StudentID,Name,Gender,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,ParentalSupport,FinalGrade,Study Hours,Attendance (%),Online Classes Taken
0,1.0,John,Male,85.0,15.0,78.0,1.0,High,80.0,4.8,59.0,False
1,2.0,Sarah,Female,90.0,20.0,85.0,2.0,Medium,87.0,2.2,70.0,True
2,3.0,Alex,Male,78.0,10.0,65.0,0.0,Low,68.0,4.6,92.0,False
3,4.0,Michael,Male,92.0,25.0,90.0,3.0,High,92.0,2.9,96.0,False
4,5.0,Emma,Female,NaN,18.0,82.0,2.0,Medium,85.0,4.1,97.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,Kenneth Murray,Male,85.0,20.0,NaN,1.0,High,72.0,0.8,80.0,True
996,4497.0,Amy Stout,Female,91.0,NaN,86.0,0.0,High,90.0,3.9,80.0,True
997,1886.0,NaN,Male,85.0,8.0,82.0,2.0,Low,68.0,0.4,54.0,False
998,7636.0,Joseph Sherman,Male,88.0,17.0,60.0,2.0,High,85.0,0.9,53.0,True
999,8021.0,Maria Walls,Female,88.0,10.0,90.0,1.0,Medium,NaN,2.4,94.0,True

In [4]:
gender_nan = df[df["Gender"].isnull()]
gender_nan

,StudentID,Name,Gender,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,ParentalSupport,FinalGrade,Study Hours,Attendance (%),Online Classes Taken
16,NaN,Courtney Clark,NaN,95.0,25.0,82.0,2.0,Low,68.0,2.7,65.0,True
33,1960.0,Kristina Douglas,NaN,NaN,15.0,60.0,2.0,Medium,85.0,2.1,96.0,False
89,5102.0,Alyssa Schmidt,NaN,90.0,25.0,86.0,3.0,High,85.0,2.9,98.0,True
91,7690.0,Alyssa Smith,NaN,95.0,20.0,65.0,1.0,Medium,78.0,1.4,75.0,True
101,9617.0,Emily Torres,NaN,85.0,NaN,60.0,0.0,High,78.0,3.9,66.0,False
102,7512.0,Nancy Davis,NaN,95.0,12.0,60.0,1.0,Low,78.0,4.4,52.0,True
106,4804.0,James Anderson,NaN,88.0,17.0,82.0,1.0,Medium,85.0,3.4,60.0,True
117,7797.0,Angela Williams,NaN,85.0,22.0,60.0,2.0,High,NaN,1.1,78.0,NaN
127,NaN,Tina Chavez,NaN,70.0,20.0,88.0,0.0,Medium,85.0,1.9,59.0,False
200,3421.0,Jeffrey Meyers,NaN,85.0,22.0,85.0,3.0,High,78.0,1.6,59.0,False
216,2923.0,Paul Hickman,NaN,95.0,22.0,90.0,3.0,High,78.0,0.8,97.0,False
228,7775.0,Jose Liu,NaN,88.0,15.0,70.0,3.0,Low,68.0,3.1,77.0,False
296,6185.0,Lynn Jennings,NaN,70.0,22.0,60.0,1.0,Low,68.0,3.8,99.0,True
359,1138.0,Andrea Newman,NaN,88.0,22.0,82.0,2.0,Medium,62.0,4.3,79.0,False
390,7607.0,NaN,NaN,90.0,17.0,77.0,3.0,Medium,87.0,4.3,78.0,False
421,2877.0,Maurice Martinez,NaN,91.0,15.0,70.0,1.0,Low,72.0,0.4,92.0,True
422,5107.0,Jonathon Perry,NaN,92.0,22.0,77.0,1.0,Medium,68.0,3.4,65.0,True
430,NaN,Dennis Elliott,NaN,85.0,25.0,77.0,3.0,High,85.0,1.8,52.0,True
454,5530.0,Nancy Moore,NaN,91.0,25.0,77.0,0.0,Low,80.0,1.3,76.0,True
465,4013.0,Heather Gamble,NaN,70.0,25.0,60.0,1.0,Medium,62.0,1.4,61.0,True
475,4450.0,Sarah Russell,NaN,70.0,20.0,85.0,2.0,Medium,72.0,0.3,99.0,False
480,3551.0,Pamela Woods,NaN,85.0,15.0,70.0,0.0,Medium,85.0,2.3,50.0,False
508,5521.0,Ronald Davis,NaN,90.0,15.0,77.0,1.0,High,68.0,1.3,87.0,True
515,7529.0,Marissa Raymond,NaN,78.0,10.0,77.0,2.0,High,78.0,2.0,86.0,True
557,7147.0,David Stone,NaN,91.0,22.0,60.0,0.0,Low,87.0,4.3,98.0,False
564,3580.0,Ryan Vasquez,NaN,90.0,15.0,86.0,2.0,Low,87.0,NaN,72.0,False
595,6172.0,Alicia Young,NaN,90.0,12.0,88.0,0.0,Low,85.0,1.7,67.0,True
631,8412.0,Christopher Sullivan,NaN,92.0,NaN,70.0,1.0,Low,62.0,4.7,58.0,False
638,5540.0,Lisa Williams,NaN,90.0,30.0,88.0,1.0,Medium,72.0,2.6,57.0,False
648,9948.0,Taylor Moyer,NaN,88.0,17.0,82.0,3.0,NaN,68.0,4.0,96.0,False
665,3277.0,Kathy Bailey,NaN,91.0,12.0,88.0,0.0,Low,85.0,0.1,57.0,True
683,5965.0,Kenneth Jones,NaN,85.0,8.0,65.0,2.0,Low,62.0,2.4,57.0,False
767,7187.0,David Cummings,NaN,90.0,30.0,70.0,3.0,High,90.0,2.3,59.0,False
769,9502.0,Drew Morse,NaN,88.0,22.0,77.0,0.0,Medium,78.0,3.7,76.0,True
795,4137.0,Tamara Jones,NaN,91.0,18.0,90.0,3.0,Medium,90.0,0.2,81.0,True
812,2120.0,Kimberly Harrison,NaN,92.0,17.0,77.0,3.0,Low,90.0,4.3,NaN,False
825,2388.0,Justin Castro,NaN,90.0,18.0,77.0,2.0,Medium,92.0,2.9,79.0,False
840,4325.0,Richard Howard Jr.,NaN,88.0,25.0,78.0,0.0,Medium,87.0,4.1,88.0,True
857,8899.0,Andrew Schroeder,NaN,95.0,NaN,86.0,3.0,Medium,62.0,2.6,97.0,True
872,7313.0,Tom Bradley,NaN,92.0,25.0,77.0,1.0,Medium,80.0,3.5,91.0,True
876,5407.0,Isaiah Moore,NaN,70.0,18.0,78.0,0.0,Medium,80.0,0.5,99.0,False
877,9600.0,Jonathan Ramirez,NaN,88.0,8.0,65.0,0.0,Medium,68.0,3.5,62.0,False
929,4050.0,Jeff Carney,NaN,95.0,15.0,85.0,0.0,Medium,92.0,0.4,82.0,True
935,4874.0,Darlene Burton,NaN,95.0,8.0,86.0,1.0,Medium,78.0,1.4,81.0,True
949,9723.0,Emily Martin,NaN,78.0,17.0,70.0,NaN,Low,62.0,2.0,67.0,True
954,5831.0,Joy Henderson,NaN,85.0,NaN,88.0,3.0,Low,85.0,0.9,51.0,True
973,2920.0,Jaime Simon,NaN,70.0,15.0,60.0,1.0,High,87.0,3.3,54.0,NaN
990,8753.0,Rebecca Burnett,NaN,85.0,10.0,85.0,3.0,Medium,80.0,1.8,68.0,False

In [5]:
male_list = [16,106,200,216,296,359,421,422,430,508,557,564,631,648,683,767,769,825,840,857,872,877,926,929,935,954,973]
female_list = [33,89,91,101,102,117,127,228,454,465,475,480,515,595,638,665,795,812,876,949,990]

In [6]:
df.loc[male_list,"Gender"] = "Male"

In [7]:
df.loc[female_list, "Gender"] = "Female"

In [8]:
 print(df.isnull().sum())

StudentID                    40
Name                         34
Gender                        1
AttendanceRate               40
StudyHoursPerWeek            50
PreviousGrade                33
ExtracurricularActivities    43
ParentalSupport              22
FinalGrade                   40
Study Hours                  24
Attendance (%)               41
Online Classes Taken         25
dtype: int64

In [9]:
delete_columns = ["StudentID","Name"]
df.drop(delete_columns, axis=1, inplace=True)

In [10]:
df

,Gender,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,ParentalSupport,FinalGrade,Study Hours,Attendance (%),Online Classes Taken
0,Male,85.0,15.0,78.0,1.0,High,80.0,4.8,59.0,False
1,Female,90.0,20.0,85.0,2.0,Medium,87.0,2.2,70.0,True
2,Male,78.0,10.0,65.0,0.0,Low,68.0,4.6,92.0,False
3,Male,92.0,25.0,90.0,3.0,High,92.0,2.9,96.0,False
4,Female,NaN,18.0,82.0,2.0,Medium,85.0,4.1,97.0,True
...,...,...,...,...,...,...,...,...,...,...
995,Male,85.0,20.0,NaN,1.0,High,72.0,0.8,80.0,True
996,Female,91.0,NaN,86.0,0.0,High,90.0,3.9,80.0,True
997,Male,85.0,8.0,82.0,2.0,Low,68.0,0.4,54.0,False
998,Male,88.0,17.0,60.0,2.0,High,85.0,0.9,53.0,True
999,Female,88.0,10.0,90.0,1.0,Medium,NaN,2.4,94.0,True

In [11]:
def FNMV(df,column_name):#filling numerical messing values
    df[column_name] = df[column_name].fillna(df[column_name].mean())

In [12]:
FNMV(df,"AttendanceRate")
FNMV(df,"StudyHoursPerWeek")
FNMV(df,"PreviousGrade")
FNMV(df,"ExtracurricularActivities")
FNMV(df,"FinalGrade")

In [13]:
FNMV(df,"Study Hours")
FNMV(df,"Attendance (%)")

In [14]:
print(df.isnull().sum())

Gender                        1
AttendanceRate                0
StudyHoursPerWeek             0
PreviousGrade                 0
ExtracurricularActivities     0
ParentalSupport              22
FinalGrade                    0
Study Hours                   0
Attendance (%)                0
Online Classes Taken         25
dtype: int64

In [15]:
print(df["Online Classes Taken"].mode()[0])

True

In [16]:
def FCMV(df,column_name):#filling category messing values
    df[column_name] = df[column_name].fillna(df[column_name].mode()[0])

In [17]:
FCMV(df,"Online Classes Taken")
FCMV(df,"ParentalSupport")

C:\Users\mba\AppData\Local\Temp\ipykernel_5960\126955384.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[column_name] = df[column_name].fillna(df[column_name].mode()[0])

In [18]:
print(df.isnull().sum())

Gender                       1
AttendanceRate               0
StudyHoursPerWeek            0
PreviousGrade                0
ExtracurricularActivities    0
ParentalSupport              0
FinalGrade                   0
Study Hours                  0
Attendance (%)               0
Online Classes Taken         0
dtype: int64

In [19]:
df[df["Gender"].isna()].index

Index([390], dtype='int64')

In [20]:
print(df.loc[390])

Gender                          NaN
AttendanceRate                 90.0
StudyHoursPerWeek              17.0
PreviousGrade                  77.0
ExtracurricularActivities       3.0
ParentalSupport              Medium
FinalGrade                     87.0
Study Hours                     4.3
Attendance (%)                 78.0
Online Classes Taken          False
Name: 390, dtype: object

In [21]:
df.drop(390, inplace=True)

In [22]:
print(df.isnull().sum())

Gender                       0
AttendanceRate               0
StudyHoursPerWeek            0
PreviousGrade                0
ExtracurricularActivities    0
ParentalSupport              0
FinalGrade                   0
Study Hours                  0
Attendance (%)               0
Online Classes Taken         0
dtype: int64

In [23]:
df.to_csv("cleaned_student_performance.csv", index=False)